:root{
  --font-color: rgb(35, 35, 35);
  --font-secondary: rgb(84, 84, 84);
  --bg-color: white;
  --heading-font-stack: 'Hack', monospace;
  --body-font-stack: 'Muli', sans-serif;
}

/* Resets (some adapted from normalize.css) */
html {
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
* + section * {
  margin-top: 1rem;
}
.flex-container * + * {
  margin-left: 1rem;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: var(--body-font-stack);
  fill: var(--font-color);
}

h1, h2 { font-family: var(--heading-font-stack); }

p { line-height: 1.5; }
p + p { margin-top: 1em;}
aside p { font-size: 1.4em; }

section {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 5vh;
}
aside + section { padding-top: 10vh; }
section > div { flex: 1; }


.intro {
  font-size: 1.1em;
  width: 80%;
  margin: 1em auto;
}
 aside {
   width: 80%;
   margin: 10vh auto;
   padding: 10vh 5vw;
   border: 3px solid var(--font-color);
 }
 aside h2 {
   margin-bottom: 2em;
   text-align: center;
 }

nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--font-color);
  color: var(--bg-color);
  min-height: 8vh;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
nav h1 { font-size: 2em; }
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav li {
  padding: 0 0.5em;
}
a, a:visited {
  text-decoration: none;
}
nav a, nav a:visited {
  color: var(--bg-color);
}
a, a:visited { color: rgb(22, 183, 199); }
a:hover, nav a:hover { color: rgb(142, 99, 182); }

h1 {
  font-size: 3em;
}

.male { fill: rgb(22, 183, 199); }
.female { fill: rgb(142, 99, 182); }
.bar { stroke: black; }

.label { font-size: 1em; }
.small-label { font-size: 0.7em; }
.tiny-label { font-size: 0.5em; }
.big-label { font-size: 2em; }

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
    margin-top: 4vh;
}
.small-label + .svg-container { margin-top: 2vh; }
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.flex-container { display: flex; }


.line-primary { stroke: var(--font-color); }
.line-highlight {
  stroke: var(--font-color);
  stroke-width: 3;
  alignment-baseline: 'middle';
}
/*.label-highlight { fill: blue; }*/

.arrow-container{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: fixed;
  bottom: 25px;
  left: 0;
  right: 0;
}

.arrow{
  fill: none;
  width: 60px;
  height: 60px;
  background: rgb(182, 133, 226);
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  text-align: center;
}

.arrow:before{
  width: 52px;
  height: 52px;
  content: "";
  border: 2px solid var(--bg-color);
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
}

.arrow img{
  margin-top: 15px;
  height: 30px;
  width: 30px;
}

#resources ul {
  text-align: left;
  width: 80%;
  margin: auto;
}

#resources table {
  margin: 1em auto;
}
th, td { padding: 0.2em 0.5em; }

footer {
  height: 3em;
}

table { border-collapse: collapse; }

tbody tr:hover {
  background-color: rgb(216, 210, 221);
}
